
.info{
    background-color: #d9d9d9;
}

.info label{
    display: block;
    margin: 0 auto 10px;
}

.form-style #forma{
    background-color: #f2f2f2;
    margin: 15px;
}

.div-forma{
    display: inline;
}


p, span{
    display: flex;
    margin: 5px 10px;
}


